<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    function transfer() {

      var message = {};
      message.content = $('#input').val();

      console.log(JSON.stringify(message));

      $.ajax({
        contentType: "application/json",
        type: "POST",
        url: "chatting",
        dataType: 'json',
        processData: false,
        data: JSON.stringify(message),
        success: function(data) {
          $('#history').append($('<div />').text(data.content));
          $('#input').val('');
        }
      });

    }

  </script>
  <title>채팅</title>
</head>
<body>
  <div id="history">
  </div>
  <form id="msgs">
    <input type="text" id="input" name="message"></input>
    <button type="button" onclick="transfer()">SEND</button>
  </form>
</body>
</html>
