<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/main.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
    <link href="/chatbubble.css" rel="stylesheet"/>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content">
    <div id="scroll-option">
        <div id="conversation">
        </div>
    </div>
    <div id="inputs">
      <div id="inputtextarea">
        <textarea id="input" wrap="soft"></textarea>
      </div>
      <div id="inputbutton">
        <input type="button" id="send" value="전송"/>
      </div>
    </div>
</div>
</body>
</html>
