<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>Getting Started: Serving Web Content</title>
    		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
    	<h1>Thymeleaf tutorial</h1>
        <ul>
            <li><a href="#" th:href="@{http://www.naver.com}">go naver.com</a></li>
            <li><a href="#" th:href="@{http://www.daum.net}">go daum.net</a></li>
            <li><a href="#" th:href="@{http://itutorial.thymeleaf.org/exercise/11}">go 내가 연습했던 페이지</a></li>
        </ul>
        <input type="submit" value="button" />   
        <div><textarea class="form-control" rows="12" cols="150"
        				style="margin-top: 10px; resize=both" placeholder="Sonstige Bemerkungen"
				    	name="notes" th:inline="text">[[${Notes}]]
			</textarea>
		</div>
        
	</body>
</html>